<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/static/css/login.css">
  <link rel="stylesheet" href="/static/css/global.css">
</head>
<body>
  <div class="login">
      <img src="https://avatars.githubusercontent.com/u/44319767?v=4" alt="Login">
  <label for="">Usuario: </label>
  <input type="text" name="" id="">
  <label for="">Senha: </label>
  <input type="password" name="" id=" ">
  <a href="http://" target="_blank" rel="noopener noreferrer">Cadastre-se</a>
  <button type="submit">Entrar</button>
  </div>
  
</body>
</html>